.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.game-card {
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
}

.game-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
